figure.gal01{
  display:block;
  position: relative;
  float: center;
  overflow: hidden;
  margin: 10px auto;
  min-width: 220px;
  max-width: 310px;
  width: 100%;
  background: #000000;
  text-align: center;
}
figure.gal01* {
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

figure.gal01 img {
  vertical-align: top;
  max-width: 100%;
}
figure.gal01 div {
  position: absolute;
  top: 50%;
  left: 50%;
  display: table;
  padding: 0 20px;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
figure.gal01 div:before,
figure.gal01 div:after {
  position: absolute;
  display: block;
  width: 0%;
  height: 100%;
  content: '';
  background-color: rgba(255, 255, 255, 0.5);
  opacity: 0.8;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
figure.gal01 div:before {
  right: -150%;
}
figure.gal01 div:after {
  left: -150%;
}
figure.gal01 h3 {
  color: white;
  text-transform: uppercase;
  font-weight: 400;
  margin: 0;
  opacity: 0;
}
figure.gal01 h3 span {
  font-weight: 800;
  display: block;
}
figure.gal01 a {
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  position: absolute;
}
figure.gal01:hover img {
  opacity: 0.3;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}
figure.gal01:hover h3 {
  opacity: 1;
}
figure.gal01:hover div {
  opacity: 1;
}
figure.gal01:hover div:before,
figure.gal01:hover div:after {
  width: 150%;
}

