/*
colors
red: #e51837; rgb(229,24,55)
gray: #808080;
*/

ul {
 list-style: none;
 }

/************Structure**************/

/*Grid*/
.grid {
	margin: 0 -1em;
	overflow: hidden;
}
.grid:target {
	-webkit-animation: fadeout 5s 1 ease-out;
    -moz-animation: fadeout 5s 1 ease-out;
    -o-animation: fadeout 5s 1 ease-out;
    animation: fadeout 5s 1 ease-out;
}
.grid > section {
	padding: 1em 0.5em 0.5em;
}
.grid > section:target {
	-webkit-animation: fadeout 5s 1 ease-out;
    -moz-animation: fadeout 5s 1 ease-out;
    -o-animation: fadeout 5s 1 ease-out;
    animation: fadeout 5s 1 ease-out;
}
.grid ul {
	overflow: hidden;
}
.grid ul li {
	margin-bottom: 0.3em;
}
.pattern {
	margin-bottom: 1em;
	overflow: hidden;
}
/******Media Queries*******/
@media all and (min-width:40em) {
	.grid ul li {
		width: 50%;
		float: left;
	}
	.grid ul li:nth-child(odd) {
		padding-right: 1em;
		clear: left;
	}

/* Large Screens */
@media all and (min-width: 54em) {
	.grid > section {
		float: left;
		width: 33.3333333%;
	}
	.grid > section:nth-of-type(3n+1) {
		clear: left;
	}
	.grid ul li {
		width: auto;
		float: none;
	}
	.grid ul li:nth-child(odd) {
		padding-right: 0;
	}
}
